* {
  box-sizing: border-box;
}

/* body{
    width: 100%
} */

.header {
  text-align: center;
  margin: 80px 0 60px 0;
}

.header h1{
    margin-bottom: 8px;
}

.header p{
    margin-top: 0
}

.price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  gap: 20px;
  /* flex-wrap: wrap */
}

.basic,
.business {
  border: 2px solid #000;
  border-radius: 20px;
  gap: 30px;
  width: 100%;
  transition: 0.3s;
}

.pro {
  border: 2px solid #000;
  border-radius: 20px;
  width: 100%;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  box-shadow: 8px 5px 0px #dcd6d687;
  padding: 15px 20px 35px 20px;
  margin-top: -15px;
  margin-bottom: -15px;
  position: relative
}

.popular{
  position: absolute;

  top:-15px;
  left:50%;
  transform: translateX(-50%);
  background-color: rgb(241, 83, 30);
  color: white;
  padding: 7px 12px;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 12px;
}


.basic:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 0px rgba(0,0,0,0.1)
}
.pro:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 0px rgba(0,0,0,0.1)
}
.business:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 0px rgba(0,0,0,0.1)
}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px
}

.title h2 {
  margin-bottom: 5px;
}

.title p {
  margin: 5px 0;
}

.dollar-pro {
  font-size: 50px;
  font-weight: bold;
  color: rgb(241, 83, 30);
}
.dollar {
    font-size: 50px;
    font-weight: bold;
}
.dollars{
  
    font-weight: bold;
    position: relative;
    font-size: 35px;
    top: -9px;
    margin-right: 2px
}
.dollars-pro{
    color: rgb(241, 83, 30);
    font-weight: bold;
    position: relative;
    font-size: 35px;
    top: -9px;
    margin-right: 2px
}

.month {
  font-size: 19px;
}
/* basic */
hr {
  border: 1.5px solid #000;
}

.basic,
.business {
  padding: 0 20px 20px 20px;
}


.list {
  text-align: left;
  padding-left: 0;
  list-style: none;
}

.list li::before {
  margin-right: 8px;
  content: "✓";
  font-weight: bold;
}

.submit {
  display: block;
  margin: 0 auto;
  background-color: #fbf9f9;
  background-color: #fbf9f9;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 20px;
  font-weight: bold;
  width: 100%;
}

.submit:hover{
    background-color: #e9e6e6;

}

/* pro */

.submit-pro {
    display: block;
    margin: 0 auto;
    background-color: rgb(241, 83, 30);
    color: #fff;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px 20px;
  font-weight: bold;
  width: 100%;
}

.submit-pro:hover{
    background-color: rgb(212, 65, 16);

}@media (max-width: 800px) {
    .price {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .price {
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 600px){
  .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px
  }
} */